.container {
    width: 100%;

    margin-right: auto;
    margin-left: auto;

    &--paddingless {
        $gap-container: 0;
        max-width: rem($width-container + 2 * $gap-container);

        padding-left: rem($gap-container);
        padding-right: rem($gap-container);

        @media #{$screen-tablet} {
            $gap-container: 24px;

            max-width: rem($width-container + 2 * $gap-container);

            padding-left: rem($gap-container);
            padding-right: rem($gap-container);
        }
    }

    &--header {
        $gap-container: 13px;
        max-width: rem($width-container + 2 * $gap-container);

        padding-left: rem($gap-container);
        padding-right: rem($gap-container);

        @media #{$screen-tablet} {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &--main {
        $gap-container: 16px;
        max-width: rem($width-container + 2 * $gap-container);

        padding-left: rem($gap-container);
        padding-right: rem($gap-container);

        @media #{$screen-tablet} {
            $gap-container: 0;

            max-width: rem($width-container + 2 * $gap-container);

            padding-left: rem($gap-container);
            padding-right: rem($gap-container);
        }
    }

    &--footer {
        $gap-container: 24px;
        max-width: rem($width-container + 2 * $gap-container);

        padding-left: rem($gap-container);
        padding-right: rem($gap-container);
    }

    &--nav {
        $gap-container: 13px;
        max-width: rem($width-container + 2 * $gap-container);

        padding-left: rem($gap-container);
        padding-right: rem($gap-container);
    }
}