.icon {
    width: rem(28px);
    height: rem(28px);

    &--actions {
        width: rem(20px);
        height: rem(20px);

        cursor: pointer;

        transition: transform $transition-duration ease;

        &-hide {
            transform: rotate(180deg);
        }
    }

    &--star {
        width: rem(12px);
        height: rem(12px);
        color: $west-side;
    }

    &--pencil {
        width: rem(20px);
        height: rem(20px);
    }
}